/* .ipfsTitleContainer {
  border: 1px solid black;
}

.ipfsFormContainer {
  border: 1px solid black;
}

.ipfsDataContainer {
  border: 1px solid black;
}

.eggDataCointainer {
  border: 1px solid black;
} */

body {
  background-color: #0f0f0f;
  color: #fff;
}
